* { box-sizing: border-box; }

body, h1, h2, p, figure {
    margin: 0;
    padding: 0;
}

.centralizar {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: rgb(224, 224, 224);
    display: flex;
    flex-direction: column; 
}
.box {
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
    padding: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.box1 {
    width: 100px;
    height: 100px;
}

.container1 {
    background-image: url('../imagens/images.jfif');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    max-width: 628px;
    width: 100%;
    height: 351px;
}

.container1 h2 {
    position: absolute;
    bottom: 55px;
    text-align: right;
}

.container1 p {
    position: absolute;
    bottom: 20px;
    text-align: right;
}

figure img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

a { 
    color: rgb(0, 36, 36)   ;
    text-decoration: none; 
}

header {
    padding-left: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgb(167, 213, 255);
}


footer {
    background-color:  black;
    color: white;
    bottom: 0;
    width: 100%;
}